<nav class="bg-[#E63946] text-white px-6 py-4 shadow-md flex justify-between items-center font-medium text-base">
  <div class="text-xl font-bold tracking-wide">
    Moodish
  </div>
  <div class="flex gap-6">
    <a routerLink="/recommend" class="hover:bg-[#F4A261] hover:text-black px-3 py-2 rounded transition cursor-pointer focus:outline-none focus:ring-2 focus:ring-white">Recommendation</a>
    <a routerLink="/history" class="hover:bg-[#F4A261] hover:text-black px-3 py-2 rounded transition cursor-pointer focus:outline-none focus:ring-2 focus:ring-white">Order History</a>
  </div>
</nav>
<main class="min-h-screen bg-neutral-50 p-6">
  <router-outlet></router-outlet>
</main>
