<div class="min-h-screen flex items-center justify-center bg-gray-50 px-4">
  <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">
    <label for="username" class="block text-gray-700 font-medium mb-2 text-sm">
      Enter your name to continue
    </label>
    <input
      id="username"
      [(ngModel)]="name"
      type="text"
      placeholder="Enter your name"
      class="w-full border border-gray-300 p-3 rounded-lg placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-[#F4A261]"
    />
    <button
      (click)="submitName()"
      class="mt-6 w-full bg-[#E63946] text-white font-bold py-2 px-4 rounded-lg shadow hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-[#F4A261]"
    >
      Continue
    </button>
  </div>
</div>


